.summary-container {
	display: flex;
	flex-direction: column;
	margin: 0 90px;
}

.plan-selection {
	border: 1px solid black;
	align-items: center;
	display: grid;
	grid-template-columns: 100px 1fr;
}
.plan-price {
	justify-self: end;
}
/* .total {
	display: grid;
	grid-template-columns: 110px 1fr;
	
} */
.total span {
	font-size: 14px;
}

.addon-summary-container {
	display: grid;
	grid-template-columns: 50px 1fr;
	border: 1px solid black;
	margin: 5px 0;
	align-items: center;
	padding: 5px;
}
.addon-title {
}
.addon-price {
	justify-self: end;
}
.total-container {
	display: grid;
	grid-template-columns: 120px 1fr;
	border: 1px solid black;
	margin-top: 20px;
	padding: 5px;
}
.total-price {
	justify-self: end;
}
